<script src="{{ site.url }}/js/iDisqus.min.js"></script>

{% if page.comments != false %}
   <link rel="stylesheet" href="{{ site.url }}/css/iDisqus.min.css" type="text/css" />
   <div id="comment"></div>
   <script>
     var disq = new iDisqus('comment', {
         forum: 'ggbondblog',
         site: 'https://blog.ggbond.cc',
         api: 'http://disqus.ggbond.cc',
         mode: 1,
         timeout: 3000,
         popular: document.getElementById('popular-posts'),
         init: true,
         emojiPreview: true
     });
     disq.popular();
     disq.count();
   </script>

{% endif %}
